@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(0.5);

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  & a:hover {
    opacity: 0.85;
  }


  &__actions {
    display: flex;
    gap: base(1);
    button {
      padding: base(0.4) base(0.8);
    }
  }
}
